* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin: 5% 0;
}

nav button {
    padding: 10px;
}

.hidden {
    display: none;
}

#class-selection-container, #background-selector-container, #drive-selector-container, #origin-name-selector-container, #stat-card-container {
    margin: 0 5%;
}

h2 {
    text-align: center;
    margin: 5% 0;
}

#class-selection-container h3 {
    font-weight: bold;
}

.class-card, .background-card, .drive-card, .origin-name-card, .stat-card {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat-card {
    border-radius: 10px;
    margin-left: 5%;
}

#class-selection-container img {
    width: 100px;
}

#class-selection-container p {
    text-align: center;
    margin-top: 10px;
    width: 75%;
}

.flex-row {
    display: flex;
}

.class-select-btn, .background-select-btn, .drive-select-btn, .origin-name-btn {
    width: 50%;
    padding: 10px;
}

.stat-select-btn {
    padding: 10px;
}

.name-select-el {
    margin: 5% 0;
}

.center {
    justify-content: center;
}

.center-both {
    justify-content: center;
    align-items: center;
}

#background-selector-container ul {
    margin-left: 30px;
}

#drive-selector-container h3 {
    text-align: center;
    margin-bottom: 5%;
}

#drive-selector-container p, #origin-name-selector-container p {
    text-align: center;
}

#stats-selector-container ul {
    display: flex;
    justify-content: center;
    margin: 5% 0;
}

#stats-selector-container ul li {
    list-style-type: none;
    margin: 0 2%;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

.wrap {
    flex-wrap: wrap;
}

.stats {
    width: 50%;
    margin-bottom: 5%;
}

.start {
    justify-content: flex-start;
    align-items: center;
}

.origin-name-card label {
    margin: 0 5px 0 0;
}