/* all */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

.hidden {
    display: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
}

.center-both {
    justify-content: center;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h2 {
    margin: 30px 0;
}

button {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

ul {
    margin-left: 30px;
}

/* header */

nav {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
}

/* class-selector-container */

#class-selector-container, #background-selector-container, #drive-selector-container, #origin-name-selector-container, #stats-selector-container, #character-sheet-container {
    margin: 0 5%;
}

#class-selector-container h3 {
    font-weight: bold;
}

#class-selector-container h4 {
    margin-bottom: 10px;
}

#class-selector-container img {
    width: 100px;
}

#class-selector-container p {
    text-align: center;
    margin-top: 10px;
    width: 75%;
}

.class-card, .background-card, .drive-card, .origin-name-card {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.class-select-btn, .background-select-btn, .drive-select-btn, .origin-name-btn {
    width: 50%;
}

/* drive-selector-container */

#drive-selector-container h3 {
    margin-bottom: 30px;
}

#drive-selector-container p, #origin-name-selector-container p {
    text-align: center;
}

.drive-card p {
    text-align: center;
    margin-top: 10px;
}

/* origin-name-selector-container */

.origin-name-card label {
    margin-bottom: 5px;
}

.origin-name-card select, .origin-name-card input {
    margin-bottom: 10px;
}

#name-input {
    text-align: center;
}

/* stats-selector-container */

#stats-array {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0;
}

#stats-array h4 {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    width: 33.33%;
}

#stat-card-container h4 {
    margin: 0 2%;
}

#stat-card-container select {
    margin-right: 5%;
}

.stats {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat-card {
    margin-bottom: 5%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    border: 2px solid black;
}

/* character-sheet-container */

.highlight {
    background-color: black;
    color: white;
}

#strength, #dexterity, #intelligence, #wisdom, #constitution, #charisma, #damage-display {
    background-color: gray;
    color: white;
}

.stat-display {
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    font-weight: bold;
}

#roll {
    padding: 10px;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 5px;
    width: 90%;
    text-align: center;
}

.move-card {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 2%;
}



#add-move-btn {
    align-self: center;
}

@media only screen and (min-width: 678px) {
    #class-card-container, #drive-card-container, #stat-card-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .class-card, .drive-card, .stat-card {
        width: 45%;
        margin: 2%;
    }
}

@media only screen and (min-width: 992px) {
    .class-card, .drive-card, .stat-card {
        width: 29%;
    }

    #background-card-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .background-card {
        width: 45%;
        margin: 2%;
    }
}

@media only screen and (min-width: 1200px) {
    .background-card {
        width: 29%;
    }
}