header {
    text-align: center;
    margin-bottom: 2%;
}

.hidden {
    display: none;
}

#stats-moves-container ul {
    display: flex;
    justify-content: space-evenly;
}

#stats-moves-container ul li {
    border: 3px solid black;
    border-radius: 10px;
    /* padding: 15px; */
    min-width: 100px;
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#stats-moves-container ul li p {
    font-size: 200%;
}

#stats-moves-container ul li span {
    position: absolute;
    bottom: 0;
    font-size: 100%;
}
